*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.button {
  display: flex;
  align-items: center;

  background: #ffffff;

  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;

  padding: 8px 16px;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #595959;

  box-shadow: 0 0 0px #555;

  transition: all 0.1s linear;
}

.button:hover {
  box-shadow: 0 0 6px #555;
  transform: scale(1.05);
}

.button:active {
  box-shadow: 0 0 12px #558;
}

.button__text {
  padding-left: 4px;
  margin-right: 4px;
}

.button__primary {
  background: #1890ff;

  border-radius: 2px;
  border: 1px solid #1684eb;

  color: #fff;

  margin-right: 10px;
}

.input {
  display: flex;
  align-items: center;

  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  background-repeat: no-repeat;
  background-position: left 10px center;

  padding-left: 32px;

  outline: none;
}

.input-address {
  flex: 0.8;
  height: 40px;

  background-image: url(../images/home.svg);
}

.input-search {
  width: 306px;
  height: 34px;

  margin-left: auto;

  background-image: url(../images/search.svg);
}

.lock {
  overflow: hidden;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 42px 0;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__shopping {
  position: relative;
}
.header__shopping-count {
  position: absolute;
  top: 5px;
  left: 12px;
  background-color: rgb(87, 126, 255);
  font-size: 12px;
  line-height: 1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: #fff;
}

/* Promo */
.main {
  padding-bottom: 60px;

  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.promo {
  background: #fff1b8 url(../images/promo.png) no-repeat top -200px right -100px / 700px;
  filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
  padding: 68px 71px;
  border-radius: 10px;

  margin-bottom: 48px;
}

.promo__header {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;

  color: #302c34;

  margin-bottom: 15px;
}

.promo__text {
  max-width: 538px;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #302c34;
}

/* Restaurants */
.restaurants {
}

.restaurants__header {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #000000;

  margin-bottom: 50px;
}

.restaurants__header__name {
  margin-right: 30px;
}

.restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: 31%;

  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;

  margin-bottom: 30px;

  overflow: hidden;

  box-shadow: 0 0 0 #fff;

  transition: all 0.2s linear;
}

.card:hover {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.card a {
  display: block;
}

.card-image {
  width: 100%;
  object-fit: cover;
}

.card-inner {
  padding: 20px 24px 34px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;
}

.card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  color: #000000;

  display: -webkit-box;
  -webkit-box-orient: vertical;

  line-clamp: 1;
  -webkit-line-clamp: 1;

  overflow: hidden;
  text-overflow: ellipsis;
}

.card-timer {
  font-family: "Bilbo", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  color: #fff;

  background-color: #000;

  padding: 1px 8px;

  background: #262626;
  border-radius: 2px;
}

.card-text {
  display: flex;
  align-items: center;

  font-style: normal;
  font-size: 18px;
  line-height: 32px;
}

.rating {
  font-weight: bold;

  color: #ffc107;

  margin-right: 26px;
}

.price,
.category {
  font-weight: normal;

  color: #8c8c8c;
}

.category {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.price:after {
  content: "";
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: #8c8c8c;
  border-radius: 50%;
  margin: 0 10px;
}

/* Footer */
.footer {
  padding: 60px 0;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__links {
  margin-right: auto;
  margin-left: 35px;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #595959;

  background-image: linear-gradient(#777, #777);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0% 2px;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer__link:hover {
  background-size: 95% 2px;
}

.footer__link:not(:last-child) {
  margin-right: 15px;
}

.footer__social {
  display: flex;
  align-items: center;
}

.social__link {
  transition: all 0.2s linear;
}

.social__link:not(:last-child) {
  margin-right: 21px;
}

.social__link:hover {
  transform: scale(1.1);
}

@media (max-width: 1360px) {
  .container {
    max-width: 960px;
  }
  .promo {
    background-size: 500px;
    background-position: center right -200px;
  }

  .card-text {
    flex-wrap: wrap;
  }

  .rating {
    flex-basis: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .main {
    padding-bottom: 30px;
  }

  .card {
    flex-basis: 49%;
  }

  .promo {
    background-size: 400px;
    background-position: center right -150px;

    padding: 40px;
  }

  .promo__text {
    width: 450px;
  }

  .footer {
    padding: 40px 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }

  .promo {
    background-size: 350px;
    background-position: bottom right -170px;

    margin-bottom: 20px;
  }

  .promo__header {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .promo__text {
    font-size: 18px;
  }

  .restaurants__header {
    margin-bottom: 30px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer__inner {
    flex-wrap: wrap;

    justify-content: space-around;
  }

  .footer__logo {
    order: 1;
  }

  .footer__links {
    display: flex;
    justify-content: space-around;

    margin-left: 0;
    margin-bottom: 20px;

    flex-basis: 100%;

    order: 0;
  }

  .footer__social {
    order: 2;
  }

  .footer__link {
    font-size: 16px;
  }
}

@media (max-width: 578px) {
  .container {
    width: 90%;
  }

  .header {
    flex-wrap: wrap;
  }

  .input-address {
    margin-top: 20px;

    flex-basis: 100%;

    order: 1;
  }

  .button__text {
    display: none;
  }

  .promo {
    background-image: none;

    justify-content: center;

    text-align: center;
  }

  .promo__text {
    width: 100%;
  }

  .main {
    padding-bottom: 10px;
  }

  .restaurants__header {
    flex-wrap: wrap;

    font-size: 20px;
  }

  .input-search {
    display: flex;
    flex-basis: 100%;
  }

  .card {
    flex-basis: 100%;
  }

  .card-title {
    font-size: 20px;
  }

  .footer__links {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .footer__link {
    flex-basis: 50%;
    font-size: 14px;
  }

  .footer__link:not(:last-child) {
    margin: 0;
  }
}

/* Restauenat.html */

.purchase {
  display: flex;

  align-items: center;
  margin-top: 24px;
}

.restaurant-price {
  margin-left: 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.category {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.restaurants__header .category {
  overflow: visible;
}

@media (max-width: 1360px) {
  .toogle-wrap {
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}

@media (max-width: 578px) {
  .purchase .button__text {
    display: inline-block;
    font-size: 12px;
  }
}

/* Popup */

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.4);

  opacity: 0;
  visibility: hidden;

  transition: all 0.5s ease;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.popup__content {
  width: 756px;
  max-height: 550px;
  background-color: #fff;
  border-radius: 5px;
  padding: 40px 45px;
  padding-bottom: 55px;

  overflow-y: auto;
  overflow-x: hidden;

  transform: translate(0, -100%);

  transition: all 0.5s ease;

  position: relative;

  -ms-overflow-style: none;
}

.popup__content::-webkit-scrollbar {
  width: 0;
}

.popup.open .popup__content {
  transform: translate(0, 0);
}

.popup__header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  margin-bottom: 39px;
}
.popup__shopping {
}
.popup__shopping-empty {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}
.popup__shopping-list {
  max-height: 290px;

  overflow-y: auto;
  overflow-x: hidden;

  -ms-overflow-style: none;
}

.popup__shopping-list::-webkit-scrollbar {
  width: 0;
}

.popup__shopping-list__item {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #d9d9d9;

  margin-bottom: 10px;

  padding: 5px 0;
}
.shopping-list__name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}
.shopping-list__cost {
  margin-left: auto;
  margin-right: 47px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.shopping-list__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border: 1px solid #40a9ff;
  background-color: transparent;
  border-radius: 3px;
  width: 37px;
  height: 32px;

  font-family: "Bilbo";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  transition: background-color 0.1s linear;
  transition: color 0.1s linear;
}

.shopping-list__button:hover {
  border: 2px solid #40a9ff;
}
.shopping-list__button:active {
  border: 2px solid #1890ff;
  background-color: #1890ff;
  color: #fff;
}
.shopping-list__count {
  margin-right: 15px;

  width: 10px;

  font-family: "Bilbo";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.popup__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 53px;
}
.popup__cost {
  padding: 15px 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #fafafa;

  border-radius: 5px;

  background-color: #262626;
}
.popup__butons {
  display: flex;
}
.popup__button-buy {
}
.popup__button-cancel {
}
.popup__close {
  position: absolute;
  top: 46px;
  right: 45px;

  cursor: pointer;
}

@media (max-width: 768px) {
  .popup__content {
    width: 560px;
  }
}

@media (max-width: 578px) {
  .popup {
    width: 100%;
    height: 100vh;
  }
  .popup__body {
    height: 100vh;
  }
  .popup__content {
    width: 490px;
    max-height: 500px;
  }

  .popup__shopping-list {
    max-height: 170px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
  }

  .popup__shopping-list::-webkit-scrollbar {
    width: 0;
  }
}

@media (max-width: 500px) {
  .popup__content {
    padding: 10px;
    width: 300px;
    max-height: 500px;
  }

  .popup__header {
    margin-bottom: 20px;

    font-size: 30px;
  }

  .popup__close {
    top: 49px;
    width: 20px;
    height: 20px;
  }

  .popup__shopping-list__item {
    display: flex;
    flex-direction: column;
  }

  .shopping-list__name {
    text-align: center;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
  }

  .shopping-list__cost {
    margin: 2px auto;
  }

  .popup__footer {
    display: flex;
    flex-direction: column;

    margin-top: 32px;
  }
  .popup__butons {
    display: flex;
    flex-direction: column;
  }
  .popup__button-buy {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin: 10px 0;
  }
  .popup__button-cancel {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
  }
  .popup__cost {
    font-size: 16px;

    padding: 10px 15px;
  }
}

@media screen and (max-width: 756px) {
  .button:hover {
    box-shadow: none;
    transform: none;
  }

  .card:hover {
    box-shadow: none;
    transform: none;
  }

  .footer__link:hover {
    background-size: 0 0;
  }
  .social__link:hover {
    transform: none;
  }
  .shopping-list__button:hover {
    border: 1px solid #40a9ff;
  }
}
